body {
  font-family: 'Fjalla One', sans-serif !important;
  font-weight: 500 !important; }
  body p {
    font-family: "bitter", serif !important; }

/*Navbar */
.b-a, .bar, .bar:before, .bar:after {
  transition: all .25s;
  content: "";
  position: absolute;
  left: 0;
  height: 4px;
  width: 30px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.95); }

.menu-collapsed {
  transition: all .25s;
  position: fixed;
  top: 10px;
  left: 9px;
  height: 36px;
  width: 36px;
  z-index: 1;
  cursor: pointer; }
  .menu-collapsed ul {
    transition: all 0s;
    position: fixed;
    left: -9000px; }

.bar {
  position: fixed;
  left: 12px;
  top: 24px; }
  .bar:before {
    top: -8px; }
  .bar:after {
    top: 8px; }

.b-a-expanded, .menu-expanded .bar:before, .menu-expanded .bar:after {
  transition: all .25s;
  top: -0px; }

.menu-expanded {
  transition: all .25s;
  text-align: center;
  line-height: 200px;
  height: 100%;
  width: 100%;
  border-radius: 0px;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85); }
  .menu-expanded ul {
    transition: all 0s;
    position: relative;
    left: 0;
    z-index: 2;
    list-style-type: none; }
  .menu-expanded a {
    transition: all .15s;
    text-decoration: none !important;
    font-size: 2em;
    padding: 5px;
    color: #fff;
    display: block; }
    .menu-expanded a:hover {
      background-color: rgba(255, 255, 255, 0.8);
      transition: all .15s;
      letter-spacing: 2px;
      color: #333;
      border: 1px solid rgba(255, 255, 255, 0.15); }
  .menu-expanded .bar {
    background-color: transparent;
    transition: all .25s; }
    .menu-expanded .bar:before {
      transform: rotate(45deg); }
    .menu-expanded .bar:after {
      transform: rotate(-45deg); }

/*Intro */
#intro {
  height: 100vh;
  background-color: #1F1F1F; }
  #intro .scrollDown i {
    animation: MoveUpDown 2s linear infinite;
    position: absolute; }

@keyframes MoveUpDown {
  0% {
    bottom: 0; }
  50% {
    bottom: 30px; }
  100% {
    bottom: 0; } }
  #intro #firstPage {
    display: grid;
    grid-template-rows: 400px 1fr 0.5fr;
    grid-template-columns: auto;
    grid-gap: 50px; }
    #intro #firstPage .type-wrap {
      text-align: center;
      font-size: 2.5em;
      font-weight: 800;
      color: #DDDDDD; }
    #intro #firstPage .logo {
      align-self: center;
      justify-self: center;
      justify-items: center; }
      #intro #firstPage .logo img {
        width: 20vh; }
    #intro #firstPage .fontA {
      color: #DDDDDD;
      text-align: center;
      font-size: 50px;
      margin-top: 50px; }
      #intro #firstPage .fontA a {
        color: #413d95; }
      #intro #firstPage .fontA a:hover {
        color: #006db8; }

/*About section */
#about {
  min-height: 60vh;
  background-color: #DDDDDD;
  padding-top: 80px;
  text-align: center;
  padding-bottom: 10vh; }
  #about hr {
    border-color: #1F1F1F !important;
    border-width: 3px !important;
    max-width: 50px !important; }
  #about h2 {
    color: #1F1F1F;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 6vh; }
  #about .avatar {
    max-height: 200px;
    max-width: 200px;
    border-radius: 50%; }
    #about .avatar p {
      font-weight: 600; }
  @media only screen and (max-width: 500px) {
    #about p {
      font-size: 0.90em; } }

/*skills section */
#skills {
  min-height: 60vh;
  background-color: #1F1F1F;
  padding-top: 80px;
  padding-bottom: 10vh;
  text-align: center; }
  #skills hr {
    border-color: #E1E1E1 !important;
    border-width: 3px !important;
    max-width: 50px !important; }
  #skills h2 {
    color: white;
    text-align: center;
    padding-bottom: 40px; }
  #skills .devicon-git-plain {
    max-width: 2em; }
  #skills .skillsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40px, 100px));
    grid-gap: 20px;
    color: #8f8f8f;
    justify-content: center;
    justify-items: center; }
  #skills .skillsGrid i {
    font-size: 80px;
    padding: 40px;
    text-align: center; }
    #skills .skillsGrid i:hover {
      background-color: #1F1F1F; }

/*portofolio */
#portofolio {
  background-color: #DDDDDD;
  min-height: 60vh;
  padding-bottom: 10vh; }
  #portofolio hr {
    border-color: #1F1F1F !important;
    border-width: 3px !important;
    max-width: 50px !important; }
  #portofolio h2 {
    color: #222222;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 10vh; }
  #portofolio .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: auto;
    margin-top: 50px; }
  #portofolio .item {
    overflow: hidden;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1; }
  #portofolio .item img {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    width: 100%;
    object-fit: cover; }
  #portofolio .item__overlay {
    background: #ffc60032;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    position: relative;
    display: grid;
    justify-items: center;
    align-items: center;
    transition: 0.2s;
    transform: translateY(100%); }
  #portofolio .item__overlay button {
    background: none;
    border: 2px solid white;
    color: white;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.7);
    padding: 5px;
    border-radius: 5px;
    cursor: pointer; }
  #portofolio .item:hover .item__overlay {
    transform: translateY(0); }
  #portofolio .overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    z-index: 2; }
  #portofolio .overlay.open {
    display: grid;
    align-items: center;
    justify-items: center; }
  #portofolio .overlay-inner {
    background: white;
    width: 700px;
    padding: 20px; }
  #portofolio .overlay img {
    width: 100%; }

/*Contact */
#contact {
  background-color: #1F1F1F;
  padding: 50px; }
  #contact i {
    font-size: 40px;
    padding: 10px;
    color: #DDDDDD; }
    #contact i:hover {
      color: #1F1F1F;
      background-color: #DDDDDD; }
  @media only screen and (max-width: 500px) {
    #contact i {
      font-size: 25px; } }

/* Big Triangle style*/
svg#bigTriangleColor {
  pointer-events: none;
  background-color: #1F1F1F; }

#bigTriangleColor path {
  fill: #DDDDDD;
  stroke: #DDDDDD;
  stroke-width: 2; }

svg#bigTriangleColor1 {
  pointer-events: none;
  background-color: #DDDDDD; }

#bigTriangleColor1 path {
  fill: #1F1F1F;
  stroke: #1F1F1F;
  stroke-width: 2; }

svg {
  display: block; }

#typed {
  display: inline-block; }
