/*Navbar */
.navbar {
  background-color: #DDDDDD;
  color: #222222; }

#intro {
  min-height: 100vh;
  background-image: url("img/intro.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex; }

.textcard {
  background-color: #222222;
  margin: auto;
  text-align: center;
  margin-top: 40vh;
  padding: 60px;
  width: 40vh; }

/*About section */
#about {
  min-height: 60vh;
  background-color: #DDDDDD;
  padding-top: 80px;
  text-align: center; }

#about hr {
  border-color: #222222 !important;
  border-width: 3px !important;
  max-width: 50px !important; }

#about h2 {
  color: #222222;
  text-align: center;
  padding-bottom: 40px;
  padding-top: 6vh; }

.avatar {
  max-height: 200px;
  max-width: 200px;
  border-radius: 50%; }

/*skills section */
#skills {
  min-height: 60vh;
  background-color: #222222;
  padding-top: 80px; }

#skills h2 {
  color: white;
  text-align: center;
  padding-bottom: 40px; }

.devicon-git-plain {
  max-width: 2em; }

.skills i {
  display: inline-block;
  font-size: 150px;
  padding: 40px;
  color: #464a4c; }

.skills i:hover {
  background-color: #222222; }

@media only screen and (max-width: 480px) {
  .skills i {
    display: inline-block;
    font-size: 80px;
    padding: 20px; }
  .skills .col-md-12 {
    text-align: center; } }

#skills hr {
  border-color: #E1E1E1 !important;
  border-width: 3px !important;
  max-width: 50px !important; }

/*portofolio */
#portofolio {
  background-color: #DDDDDD;
  min-height: 60vh; }

#portofolio hr {
  border-color: #222222 !important;
  border-width: 3px !important;
  max-width: 50px !important; }

#portofolio h2 {
  color: #222222;
  text-align: center;
  padding-bottom: 40px;
  padding-top: 10vh; }

#portofolio .row {
  padding-top: 10vh; }

/*Contact */
#contact {
  background-color: #222222;
  padding: 50px; }

#contact i {
  font-size: 50px;
  padding: 10px;
  color: #DDDDDD; }
