body {
  font-family: 'Fjalla One', sans-serif !important;
  font-weight: 500 !important; }
  body p {
    font-family: "bitter", serif !important; }

/*Navbar */
.navbar {
  background-color: #222222; }

/*Intro */
#intro {
  min-height: 100vh;
  background-image: url("img/intro.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  background-attachment: fixed; }
  #intro .textcard {
    margin: auto;
    text-align: center;
    margin-top: 40vh;
    padding: 60px;
    width: 50vh; }

/*About section */
#about {
  min-height: 60vh;
  background-color: #DDDDDD;
  padding-top: 80px;
  text-align: center;
  padding-bottom: 10vh; }
  #about hr {
    border-color: #222222 !important;
    border-width: 3px !important;
    max-width: 50px !important; }
  #about h2 {
    color: #222222;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 6vh; }
  #about .avatar {
    max-height: 200px;
    max-width: 200px;
    border-radius: 50%; }

/*skills section */
#skills {
  min-height: 60vh;
  background-color: #222222;
  padding-top: 80px;
  padding-bottom: 10vh;
  text-align: center; }
  #skills hr {
    border-color: #E1E1E1 !important;
    border-width: 3px !important;
    max-width: 50px !important; }
  #skills h2 {
    color: white;
    text-align: center;
    padding-bottom: 40px; }
  #skills .devicon-git-plain {
    max-width: 2em; }

.skills i {
  display: inline-block;
  font-size: 100px;
  padding: 40px;
  color: #464a4c;
  text-align: center; }
  .skills i:hover {
    background-color: #222222; }

@media only screen and (max-width: 480px) {
  .skills i {
    display: inline-block;
    font-size: 80px;
    padding: 20px; } }

/*portofolio */
.portofolio {
  background-color: #DDDDDD;
  min-height: 60vh;
  padding-bottom: 10vh; }
  .portofolio hr {
    border-color: #222222 !important;
    border-width: 3px !important;
    max-width: 50px !important; }
  .portofolio .button {
    font-size: 8px;
    font-size: 0.8rem;
    border: 2px solid #222222;
    color: #222222;
    display: inline-block;
    font-weight: 600;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.20em;
    position: relative; }
    .portofolio .button:hover {
      border: 2px solid #222222;
      background-color: #222222;
      color: #DDDDDD; }
  .portofolio h2 {
    color: #222222;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 10vh; }
  .portofolio .row {
    padding-top: 10vh; }
  .portofolio h5 {
    font-size: 1.3rem;
    color: #888; }
  .portofolio h3 {
    font-size: 2rem;
    line-height: 1.3em;
    margin-bottom: 5px; }
  .portofolio .tags {
    list-style: none;
    margin: 0;
    padding: 0;
    margin: 45px auto; }
    .portofolio .tags li {
      font-size: 7px;
      font-size: 0.7rem;
      -webkit-background-clip: padding-box;
      -moz-background-clip: padding;
      background-clip: padding-box;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
      display: inline-block;
      border: 1px solid #222222;
      color: #222222;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      padding: 3px 5px;
      margin: 0 3px; }

.portofolio1 {
  background-color: #222222;
  min-height: 60vh; }
  .portofolio1 hr {
    border-color: #222222 !important;
    border-width: 3px !important;
    max-width: 50px !important; }
  .portofolio1 p {
    color: #DDDDDD; }
  .portofolio1 .button {
    font-size: 8px;
    font-size: 0.8rem;
    border: 2px solid #DDDDDD;
    color: #DDDDDD;
    display: inline-block;
    font-weight: 600;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.20em;
    position: relative; }
    .portofolio1 .button:hover {
      border: 2px solid #DDDDDD;
      background-color: #DDDDDD;
      color: #222222; }
  .portofolio1 .row {
    padding-top: 10vh; }
  .portofolio1 h5 {
    font-size: 1.3rem;
    color: #888; }
  .portofolio1 h3 {
    font-size: 2rem;
    line-height: 1.3em;
    margin-bottom: 5px;
    color: #DDDDDD; }
  .portofolio1 .tags {
    list-style: none;
    margin: 0;
    padding: 0;
    margin: 45px auto; }
    .portofolio1 .tags li {
      font-size: 7px;
      font-size: 0.7rem;
      -webkit-background-clip: padding-box;
      -moz-background-clip: padding;
      background-clip: padding-box;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
      display: inline-block;
      border: 1px solid #DDDDDD;
      color: #DDDDDD;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      padding: 3px 5px;
      margin: 0 3px; }

/*Contact */
#contact {
  background-color: #222222;
  padding: 50px; }
  #contact i {
    font-size: 40px;
    padding: 10px;
    color: #DDDDDD; }
    #contact i:hover {
      color: #222222;
      background-color: #DDDDDD; }

/* Big Triangle */
svg#bigTriangleColor {
  pointer-events: none;
  background-color: #222222; }

#bigTriangleColor path {
  fill: #DDDDDD;
  stroke: #DDDDDD;
  stroke-width: 2; }

svg#bigTriangleColor1 {
  pointer-events: none;
  background-color: #DDDDDD; }

#bigTriangleColor1 path {
  fill: #222222;
  stroke: #222222;
  stroke-width: 2; }

svg {
  display: block; }

#typed {
  display: inline-block; }
