// variables
$light-color : #DDDDDD;
$dark-color: #222222;


body {
  font-family: 'Fjalla One', sans-serif !important;
  font-weight:500 !important;
    p{
      font-family: "bitter", serif !important
    }
}

/*Navbar */

.navbar {
  background-color: $dark-color;
}

/*Intro */

#intro {
    height: 100vh;
    background-image: url("img/intro.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    background-attachment: fixed;

    .type-wrap {
      margin-top:50vh;
      text-align: center;
      font-size:2.5em;
      font-weight:800;
    }

      @media only screen and (max-width: 500px) {
      .type-wrap {
          font-size:1.5em;
      }
  }

}



/*About section */
#about {
  min-height: 60vh;
  background-color: $light-color;
  padding-top:80px;
  text-align: center;
  padding-bottom:10vh;
    hr {
        border-color: $dark-color !important;
        border-width: 3px !important;
        max-width: 50px !important;
    }
    h2 {
     color:$dark-color;
     text-align: center;
     padding-bottom: 40px;
     padding-top: 6vh;
   }
   .avatar {
       max-height: 200px;
       max-width: 200px;
             border-radius: 50%;
        p{
          font-weight:600;
        }

     }

     @media only screen and (max-width: 500px) {
     p {
         font-size:0.75em;

     }
 }
}

/*skills section */

#skills {
  min-height: 60vh;
  background-color: $dark-color;
  padding-top:80px;
  padding-bottom: 10vh;
  text-align:center;
  hr {
      border-color: #E1E1E1 !important;
      border-width: 3px !important;
      max-width: 50px !important;
    }
  h2{
    color:white;
    text-align: center;
    padding-bottom: 40px;
  }
  .devicon-git-plain {
    max-width: 2em;
  }
}


.skills i {
  display: inline-block;
  font-size: 100px;
  padding: 40px;
  color:#464a4c;
  text-align: center;
  &:hover {
    background-color: $dark-color;
  }
}


@media only screen and (max-width : 500px) {
  .skills i {
    display: inline-block;
    font-size: 40px;
    padding: 20px;
  }

}


/*portofolio */

.portofolio {
  background-color: $light-color;
  min-height:60vh;
  padding-bottom: 10vh;
    hr {
       border-color: $dark-color !important;
       border-width: 3px !important;
       max-width: 50px !important;
   }
   a{
     text-decoration: none;
      color: $dark-color;
      font-weight:700;
   }
    a:hover{
      text-decoration: none;
      color: $light-color;
      background-color: $dark-color;
    }

   .button {
    font-size: 8px;
    font-size: 0.8rem;
    border: 2px solid $dark-color;
    color: $dark-color;
    display: inline-block;
    font-weight: 600;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.20em;
    position: relative;
    &:hover {
      border: 2px solid $dark-color;
      background-color: $dark-color;
      color: $light-color;
    }

    }
     h2 {
      color:#222222;
      text-align: center;
      padding-bottom: 40px;
      padding-top: 10vh;

    }
    .row {
      padding-top: 10vh;
    }
    h5{
      font-size: 1.3rem;
    color: #888;
    }
    h3{
      font-size: 2rem;
      line-height: 1.3em;
      margin-bottom: 5px;
    }
      .tags {
      list-style: none;
      margin: 0;
      padding: 0;
      margin: 45px auto;
        li {
        font-size: 7px;
        font-size: 0.7rem;
        -webkit-background-clip: padding-box;
        -moz-background-clip: padding;
        background-clip: padding-box;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
        display: inline-block;
        border: 1px solid $dark-color;
        color: $dark-color;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        padding: 3px 5px;
        margin: 0 3px;
    }
  }
}

.portofolio1 {
  background-color: $dark-color;
  min-height:60vh;
  padding-bottom: 10vh;
    hr {
       border-color: $dark-color !important;
       border-width: 3px !important;
       max-width: 50px !important;
   }
   p{
     color:$light-color;
   }
   .button {
    font-size: 8px;
    font-size: 0.8rem;
    border: 2px solid $light-color;
    color: $light-color;
    display: inline-block;
    font-weight: 600;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.20em;
    position: relative;
    &:hover {
      border: 2px solid $light-color;
      background-color: $light-color;
      color: $dark-color;
    }

    }

    .row {
      padding-top: 10vh;
    }
    h5{
      font-size: 1.3rem;
    color: #888;
    }
    h3{
      font-size: 2rem;
      line-height: 1.3em;
      margin-bottom: 5px;
      color:$light-color;
    }
      .tags {
      list-style: none;
      margin: 0;
      padding: 0;
      margin: 45px auto;
        li {
        font-size: 7px;
        font-size: 0.7rem;
        -webkit-background-clip: padding-box;
        -moz-background-clip: padding;
        background-clip: padding-box;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
        display: inline-block;
        border: 1px solid $light-color;
        color: $light-color;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        padding: 3px 5px;
        margin: 0 3px;
    }
  }
}



/*Contact */
#contact {
    background-color: $dark-color;
    padding: 50px;
    i {
      font-size: 40px;
      padding: 10px;
      color: $light-color;
      &:hover {
        color: $dark-color;
        background-color: $light-color
      }
    }

    @media only screen and (max-width: 500px) {
    i {
        font-size: 25px;
    }
}
}

/* Big Triangle */
svg#bigTriangleColor {
	pointer-events: none;
  background-color: $dark-color;
}

#bigTriangleColor path {
	fill:$light-color;
	stroke:$light-color;
	stroke-width: 2;
}
svg#bigTriangleColor1 {
	pointer-events: none;
  background-color: $light-color;
}

#bigTriangleColor1 path {
	fill:$dark-color;
	stroke:$dark-color;
	stroke-width: 2;
}
svg {
  display: block;
}
#typed {
  display: inline-block;
}
